<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <label for="Fname">First-name:</label><br>
  <input type="text" id="Fname" name="Fname" ><br>
  <label for="Lname">Last-Name:</label><br>
  <input type="text" id="Lname" name="Lname" ><br><br>
    <label for="Email">Email:</label><br>
  <input type="text" id="Email" name="Email" ><br><br>
    <label for="Dob">Dob:</label><br>
  <input type="text" id="Dob" name="Dob" ><br><br>
  <label for="Gender">Gender:</label><br>
  <input type="text" id="Gender" name="Gender" ><br><br>
  <label for="Mobile">Mobile:</label><br>
  <input type="text" id="Mobile" name="Mobile" ><br><br>
  <label for="Domain">Domain:</label><br>
  <input type="text" id="Domain" name="Domain" ><br><br>
  <label for="Company">Company:</label><br>
  <input type="text" id="Company" name="Company" ><br><br>
  <label for="Salary">Salary:</label><br>
  <input type="text" id="Salary" name="Salary" ><br><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>

